<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>

    <link rel="stylesheet" href="/public/css/club/add_club.css">
    <link rel="stylesheet" href="../../public/css/event/event.css">
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</head>
<body>
    <%- include("../common/header", {data}) %>
    <div class = "main-content"> 
        <div class = "header">
            <div class = "page-title">
                <h1> 동호회 관리 </h1>
            </div>
        </div>
        <div id = "club-form1">
            <form id="Form1">
                <div class = "form-header">
                    <h2 class = "form-title">동호회 수정하기</h2>
                    <p class = "form-information">동호회를 수정하여 같은 관심사를 가진 사람들과 함께하세요! </p>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">동호회 대표 이미지 (4:3 비율)</label>
                    <div class = "form-container">
                        <div class = "image-upload" id="imagediv1">
                            <div class = "upload-icon" id = "icon1">📷<span style="font-size: 18px;" id="imagename"></span></div>
                            <p class = "upload-info" id ="upload_info1">이미지를 클릭하여 업로드하세요.(미선택시 기본 이미지가 제공됩니다.)</p>
                            <input type="file" id = "club_image1">
                        </div>
                    </div>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">동호회 이름</label>
                    <input type="text" class = "form-input" id = "club_name1" placeholder="동호회 이름을 알려주세요." required>
                </div>
                <div class = "addFrom-group">
                    <label class="label">태그</label>
                    <div class = "add-tag">           
                        <input type="text" class = "tag-input" id = "club_tags1" name="imgpath" placeholder="태그를 입력하고 Enter를 누르세요">
                    </div>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">동호회 설명</label>
                    <textarea class = "form-input-txtarea" id="club_information1" placeholder="동호회에 대한 설명을 해주세요." required></textarea>
                </div>
                
                <div class="addForm-btn-container1">
                    <button class="btn btn-ok" id = "ok_btn1">동호회 수정하기</button>
                </div>
            </form>
        </div>
        <div id="club-form2">
            <form id="Form2">
                <div>
                    <h2 class = "form-title">이벤트 등록하기</h2>
                    <p class = "form-information">동호회를 이벤트 등록하여여 함께하세요! </p>
                </div> <br><br>
                <div class = "addFrom-group">
                    <label class = "label required">이벤트 이름</label>
                    <input type="text" class = "form-input" id = "event_name1" placeholder="이벤트 이름을 알려주세요." required>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">이벤트 설명</label>
                    <textarea class = "form-input-txtarea" id="event_information" placeholder="이벤트에 대한 설명을 해주세요."></textarea>
                </div>
                <div id="eventlocations">
                    <label for="">활동 위치 : </label>
                    <input type="text" name="location" id="addr" onclick="openPostcode()" placeholder="주소를 입력하세요" />
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">이벤트에 맞는 이미지 업로드해주세요 (4:3 비율)</label>
                    <div class = "form-container">
                        <div class = "image-upload" id="imagediv2">
                            <div class = "upload-icon" id = "icon1">📷</div>
                            <p class = "upload-info" id ="upload_info1">이미지를 클릭하여 업로드하세요.(미선택시 기본 이미지가 제공됩니다.)</p>
                            <input type="file" id = "club_image2">
                        </div>
                    </div>
                </div>
                <h3>날짜랑 시간을 선택해주세요</h3>
                <div id='calendar'></div>
                <div class="addForm-btn-container2">
                    <button class="btn btn-ok" id = "ok_btn2">이벤트 등록하기</button>
                </div>
            </form>
        </div>
        <div id="Managemember">
            <h2>멤버 관리하기</h2>
            <div class="Memberlist">
                <h3>멤버 이름</h3><br>
                <ol id="Memberol">
                    <li>
                        <span>김다온</span>
                        <button>삭제</button>
                    </li>                    
                    <li>
                        <span>김다온</span>
                        <button>삭제</button>
                    </li>                    
                               
                </ol>
            </div>
        </div>
        <div id="Memberverify">
            <h2>잠여 인증하기</h2>
            <form action="">
                <div class = "addFrom-group">
                    <label class = "label required">이벤트 이미지 (4:3 비율)</label>
                    <div class = "form-container">
                        <div class = "image-upload" id="imagediv3">
                            <div class = "upload-icon" id = "icon1">📷</div>
                            <p class = "upload-info" id ="upload_info1">이미지를 클릭하여 업로드하세요.(미선택시 기본 이미지가 제공됩니다.)</p>
                            <input type="file" id = "club_image3">
                        </div>
                    </div>
                </div>
                <div class="addForm-btn-container3">
                    <button class="btn btn-ok" id = "ok_btn3">이벤트 잠여 인증하기</button>
                </div>
            </form>
        </div>
    </div>

</body>
<script src="/public/script/event/event.js"></script>
</html>