<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
    <link rel="stylesheet" href="/public/css/club/add_club.css">
    <link rel="stylesheet" href="/public/css/event/event.css">
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <%- include("../common/header", {data}) %>
    <div id="Popupwrap">
        <div class="Popup">           
            <span>이벤트가 성공적으로 등록되었습니다!</span>
            <a id="ok"><button>확인</button></a>
        </div>
    </div>
    
    <div id="Popupwraperror">
        <div class="Popuperror">           
            <span>이벤트 등록 중 오류가 발생했습니다.</span>
            <a id="errorOk"><button>확인</button></a>
        </div>
    </div>
    
    <div id="Popupwraperrordate">
        <div class="Popuperrordate">           
            <span>이벤트 날짜 범위를 선택해주세요.</span>
            <a id="dateErrorOk"><button>확인</button></a>
        </div>
    </div>
    
    <div id="Popupwrap_empty">
        <div class="Popup_empty">           
            <span>모든 필드를 입력해주세요.</span>
            <a id="emptyOk"><button>확인</button></a>
        </div>
    </div>
    <div class = "main-content"> 
        <!-- <div class = "header">
            <div class = "page-title">
                <h1> 동호회 관리 </h1>
            </div>
        </div>
        <div id = "club-form1">
            <form id="Form1">
                <div class = "form-header">
                    <h2 class = "form-title">동호회 수정하기</h2>
                    <p class = "form-information">동호회를 수정하여 같은 관심사를 가진 사람들과 함께하세요! </p>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">동호회 대표 이미지 (4:3 비율)</label>
                    <div class = "form-container">
                        <div class = "image-upload" id="imagediv1">
                            <div class = "upload-icon" id = "icon1">📷<span style="font-size: 18px;" id="imagename"></span></div>
                            <p class = "upload-info" id ="upload_info1">이미지를 클릭하여 업로드하세요.(미선택시 기본 이미지가 제공됩니다.)</p>
                            <input type="file" id = "club_image1">
                        </div>
                    </div>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">동호회 이름</label>
                    <input type="text" class = "form-input" id = "club_name1" placeholder="동호회 이름을 알려주세요." required>
                </div>
                <div class = "addFrom-group">
                    <label class="label">태그</label>
                    <div class = "add-tag">           
                        <input type="text" class = "tag-input" id = "club_tags1" name="imgpath" placeholder="태그를 입력하고 Enter를 누르세요">
                    </div>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">동호회 설명</label>
                    <textarea class = "form-input-txtarea" id="club_information1" placeholder="동호회에 대한 설명을 해주세요." required></textarea>
                </div>
                
                <div class="addForm-btn-container1">
                    <button class="btn btn-ok" id = "ok_btn1">동호회 수정하기</button>
                </div>
            </form>
        </div> -->

        <div id="club-form2">
            <input type="hidden" id="selected_start_date">
            <input type="hidden" id="selected_end_date">
            <input type="hidden" id="selected_event_date" name="selected_event_date">
            <form id="Form2">
                <div id = "form-header">
                    <h2 class = "form-title">이벤트 등록하기</h2>
                    <p class = "form-information">동호회 이벤트를 등록하여 멤버들과 함께하세요! </p>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">이벤트 이름</label>
                    <input type="text" class = "form-input" id = "event_name1" placeholder="이벤트 이름을 알려주세요." required>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">이벤트 설명</label>
                    <textarea class = "form-input-txtarea" id="event_information" placeholder="이벤트에 대한 설명을 해주세요(시간, 준비물, 모임장소 특징 등)."></textarea>
                </div>
                <div id="eventlocations">
                    <label for="">모임 위치 </label>
                    <input type="text" name="location" id="addr" onclick="openPostcode()" placeholder="활동위치를 입력하세요" />
                </div>
                <div class="addFrom-group">
                    <label class = "label required">참석가능 최대 인원</label>
                    <div class = "member-container">
                        <input type="number" class="memeber-input" min="2" placeholder="최대 인원수를 입력하세요." required >
                        <span style="color:#666">명</span>
                    </div>
                    <p class = "member-noti">최소 2명 이상 입력해주세요.</p>
                </div>
                <div class="addFrom-group">
                    <label class = "label required">게스트 참석 가능 여부</label> 
                    <div>
                        <label><input type="radio" name="guest_allow" value="yes" checked> 가능 </label>
                        <label><input type="radio" name="guest_allow" value="no"> 불가능 </label>
                    </div>
                </div>
                <div class="addFrom-group">
                    <label class = "label required">모임 날짜 등록</label>
                    <p class = "member-noti">캘린더에서 날짜를 선택해주세요! (마우스를 드래그하면 범위선택도 가능합니다!)</p>
                    <div id='calendar'></div>
                </div>
                <div class="addForm-btn-container2">
                    <button type="button" class="btn btn-cancel" id="eventcancel_btn">취소</button>
                    <button class="btn btn-ok" id = "ok_btn2">이벤트 등록하기</button>
                </div>
            </form>
        </div>
        <!-- <div id="Managemember">
            <h2>멤버 관리하기</h2>
            <div class="Memberlist">
                <h3>멤버 이름</h3><br>
                <ol id="Memberol">
                    <li>
                        <span>김다온</span>
                        <button>삭제</button>
                    </li>                    
                    <li>
                        <span>김다온</span>
                        <button>삭제</button>
                    </li>                    
                               
                </ol>
            </div>
        </div> -->
        <!-- <div id="Memberverify">
            <h2>잠여 인증하기</h2>
            <form action="">
                <div class = "addFrom-group">
                    <label class = "label required">이벤트 이미지 (4:3 비율)</label>
                    <div class = "form-container">
                        <div class = "image-upload" id="imagediv3">
                            <div class = "upload-icon" id = "icon1">📷</div>
                            <p class = "upload-info" id ="upload_info1">이미지를 클릭하여 업로드하세요.(미선택시 기본 이미지가 제공됩니다.)</p>
                            <input type="file" id = "club_image3">
                        </div>
                    </div>
                </div>
                <div class="addForm-btn-container3">
                    <button class="btn btn-ok" id = "ok_btn3">이벤트 잠여 인증하기</button>
                </div>
            </form>
        </div> -->
    </div>

</body>
<script src="/public/script/event/event.js"></script>
<script>
    const CLUB_ID = "<%= clubId %>";
</script>
</html>