<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/club/add_club.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
 
</head>
<body>
    <%- include("../common/header") %>
    <div class = "main-content"> 
        <div class = "header">
            <div class = "page-title">
                <h1> λ™νΈν κ΄€λ¦¬ </h1>
            </div>
        </div>
        <div id = "club-form1">
            <form>
                <div class = "form-header">
                    <h2 class = "form-title">λ™νΈν μμ • μ •λ³΄ μ…λ ¥</h2>
                    <p class = "form-information">λ™νΈνλ¥Ό μμ •ν•μ—¬ κ°™μ€ κ΄€μ‹¬μ‚¬λ¥Ό κ°€μ§„ μ‚¬λλ“¤κ³Ό ν•¨κ»ν•μ„Έμ”! </p>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">λ™νΈν λ€ν‘ μ΄λ―Έμ§€ (4:3 λΉ„μ¨)</label>
                    <div class = "form-container">
                        <div class = "image-upload">
                            <div class = "upload-icon" id = "icon1">π“·</div>
                            <p class = "upload-info" id ="upload_info1">μ΄λ―Έμ§€λ¥Ό ν΄λ¦­ν•μ—¬ μ—…λ΅λ“ν•μ„Έμ”.(λ―Έμ„ νƒμ‹ κΈ°λ³Έ μ΄λ―Έμ§€κ°€ μ κ³µλ©λ‹λ‹¤.)</p>
                            <input type="file" id = "club_image1">
                        </div>
                    </div>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">λ™νΈν μ΄λ¦„</label>
                    <input type="text" class = "form-input" id = "club_name" placeholder="λ™νΈν μ΄λ¦„μ„ μ•λ ¤μ£Όμ„Έμ”." required>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">λ™νΈν μ„¤λ…</label>
                    <textarea class = "form-input-txtarea" id="club_information" placeholder="λ™νΈνμ— λ€ν• μ„¤λ…μ„ ν•΄μ£Όμ„Έμ”."></textarea>
                </div>
                
                <div class="addForm-btn-container1">
                    <button class="btn btn-ok" id = "ok_btn1">λ™νΈν μμ •ν•κΈ°</button>
                </div>
            </form>
            <div id='calendar'></div>
        </div>
    </div>
</body>
<script>

    const data = [];
    document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar')
        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            dateClick: function(info) {
                data.push({
                    title: 'μ°Έμ—¬',
                    backgroundColor: '#9d2933',
                    date: info.dateStr
                    })
                },
            events : data
      })
      calendar.render()
    })

    if(data) {
        console.log(data)
    }


  </script>
</html>