

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    
    /* font-weight: 500; */
}

a {
    color: black;
}
input { 
    height: 1.89vw;
    border-radius: 0.189vw;
    outline: none;
    padding: 0.236vw 0.473vw ;
    box-sizing: border-box;
    border: 0.047vw solid #b6b6b6;
    /* box-shadow: 0 0.189vw 0.473vw rgba(0, 0, 0, 0.2); */
    
}
#gender input {
    box-shadow: none;
}

#loginwrap {
    width: 100%;
    height: calc(100vh - 3.781vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginform {
    width: 33.081vw;
    height: 11.815vw;
    display: flex;
    box-shadow: 0 0.189vw 0.473vw rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.473vw;
}

#loginform input {
    height: 1.181vw;
    outline: none;
    padding: 0 0.473vw;
    box-sizing: border-box;
}

#loginform button {
    width: 5.671vw;
    height: 1.418vw;
}

#loginform img {
    width: 23.629vw;
    height: 3.308vw;
}
.line {
    display: block;
    height: 0.047vw;
    width: 51.985vw;
    background-color: #e4ded4;
    margin: 0 auto;
}


#Bodywrap {
    /* background-color: rgb(221, 231, 231); */
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin-top: 3.544vw;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 4.726vw;
    font-size: 0.851vw;

    font-family: 'Pretendard', sans-serif;
}

#Bodycontent {
    /* box-shadow: 0 0.189vw 0.473vw rgba(0, 0, 0, 0.2); */
    min-height: calc(100vh - 3.544vw);
    width: 56.711vw;
    margin-bottom: 4.726vw;
    
    /* background-color: rgb(247, 247, 247); */
}
#Bodycontent h1 {
    width: 56.711vw;

    padding: 1.512vw 2.363vw 1.512vw 2.363vw; 
    box-sizing: border-box;
}

#Userinfo {
    width: 56.711vw;
    /* box-shadow: 0 0.189vw 0.473vw rgba(0, 0, 0, 0.05); */
    height: 14.178vw;
    /* background-color: #f1efe6; */
    padding: 0 2.363vw;
    margin: 0.945vw 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0.236vw;
    margin-bottom: 0.473vw;

    
}
#Introduction span {
    font-weight: 500;
}
#Introduction  {
    width: 56.711vw;
    min-height: 4.726vw;
    /* background-color: #f1efe6; */
    padding: 0.709vw 3.308vw;
    
    box-sizing: border-box;
}

#Introduction p {
    width: 43.006vw;
    margin: auto;
}
.Contentul, .Contentul1  {
    margin-top: 1.418vw;
    width: 56.711vw;
    /* min-height: 33.081vw; */
    /* background-color: rgb(247, 247, 247); */
    padding: 9.082px 53.7px;
    box-sizing: border-box;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.Contentul img, .Contentul1 img{
    box-shadow: 0 0.189vw 0.473vw rgba(0, 0, 0, 0.1);
    border-radius: 0.331vw;
    border: none;
    margin-right: 1.418vw;
    width: 15.656vw;
    height: 9.452vw;
    object-fit: cover;
}
#Contentul li {
    width: 18.904vw;
    /* height: 9.452vw; */
}
.imagetag{
    border: none;
}
.Contentli {
    
    display: flex;
}
.Contentli ul {
    width: 28.355vw;
    padding: 1.654vw 0.473vw ;
    height: 8.931vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.Contentli li {
    /* display: inline-block; */
    white-space: nowrap;
    width: 28.355vw;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.654vw;
}

.clubinfo {
    width: max-content !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clubinfo span {
    background-color: #ffe2c7;

    width: max-content;
    height: 1.89vw;
    padding: 0 1.418vw;
    margin-right: 0.945vw;
    border-radius: 1.418vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;

}


#Userinfo img {
    width: 12.854vw;
    height: 12.854vw;
    border-radius: 12.854vw;
    /* border: 0.945vw solid white; */
    box-sizing: border-box;
    margin: 0.945vw 5.198vw 0 5.198vw;
    position: relative;
}


#Userul {
    width: 28.698vw;
    height: 15.156vw;
    padding: 1.041vw 2.135vw;
    box-sizing: border-box;
    /* background-color: #002a54;
    color: white; */
    border-radius: 0.521vw;
    padding-bottom: 0;
}
.userulbody {
    width: 24.427vw;
    padding: 0.945vw 0.945vw;
    height: 9.972vw;
    box-sizing: border-box;
    background-color: #ffcc9d;
    /* color: white; */
    border-radius: 0.473vw;
    box-sizing: border-box;
    margin: 2.836vw 0 0.709vw 0 ;
        font-weight: 500;
}

.userulbody li:nth-child(1) span:nth-child(1) {
    display: inline-block;
    width: 14.178vw;
    bottom: 0.945vw;
}
.userulbody li {
    margin: 0.709vw 0;
}
#Edit a {
    width: 5.907vw;
    height: 2.127vw;
    display: flex;
    justify-content: center;
    /* border: 0.047vw solid rgb(170, 149, 79); */
    border-radius: 0.236vw;
    background-color: rgb(254, 254, 254);
    align-items: center;
    box-sizing: border-box;
    font-weight: 500;
}
i {
    display: inline-block;
}
.addclubdiv {
    width: 56.667vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.042vw;
    box-sizing: border-box;
    position: relative;
    
}

.addclub {
    width: 21.267vw;
    height: 2.836vw;
    display: flex;
    justify-content: center;
    border: 0.047vw solid rgb(170, 149, 79);
    border-radius: 0.473vw;
    background-color:  #ff7a00;;;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 18.144px;
}
.addclub:hover {
    background-color: #ffb067;
}
#Userul a:hover {
    background-color: #ffb067;
}


#Edit {
    float: right;
    display: flex;
}

#Edit a {
    margin-right: 0.473vw;
}

#Userdetailwrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background-color: rgb(236, 236, 236); */

}
#Userdetaildiv {
    width: 51.985vw;
    height: calc(100vh - 90.998px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 0.047vw solid; */
    /* border-radius: 0.473vw; */
    box-shadow: 0 0.189vw 0.473vw rgba(0, 0, 0, 0.1);

}

#Userdetailform {
    width: 37.807vw;
    height: 33.081vw;
    padding: 2.363vw 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#Userdetailform button {
    font-size: 0.756vw;
    cursor: pointer;
    width: 7.089vw;
    height: 1.89vw;
    border: none;
    box-shadow: 0 0.189vw 0.473vw rgba(0, 0, 0, 0.3);
    border-radius: 0.331vw;
    
}


#locationbtn {
    width: 5.671vw !important ;
    height: 1.654vw;
    border-radius: 0.236vw;
    border: 0.047vw solid;
}
#Userdetailform button:hover {
    background-color: rgb(255, 181, 21);
}

#Userdetailform div {
    margin-top: 0.945vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
}



textarea {
    padding: 0.473vw;
    width: 37.807vw;
    height: 5.671vw;
    resize: none;
    box-sizing: border-box;
    outline: none;
    border-radius: 0.473vw;
    border: 0.047vw solid #b6b6b6;
    /* box-shadow: 0 0.189vw 0.473vw rgba(0, 0, 0, 0.2);; */
}

#gender {
    width: 14.178vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Userintrestwrap {
    width: 100%;
    height: 100vh ;
    /* margin-top: 3.308vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: flex-end;
}
#userintrestdiv {
    width: 51.985vw;
    height: calc(100vh - 5.198vw);
    padding: 2.363vw ;
    padding-top: 0.473vw;
    border-radius: 0.331vw;
    box-shadow: 0 0.189vw 0.473vw rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}
#Userdetailform ul {
    height: 33.081vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}

#Userdetailform li {
    display: flex;
    flex-direction: column;
}
#Userdetailform h2 {
    font-size: 1.04vw;
    padding-bottom: 1.418vw;
    border-bottom: 0.047vw solid rgb(143, 143, 143);
}
#Userintrestwrap h2 {
    font-size: 1.04vw;
    padding-bottom: 2.363vw;
    border-bottom: 0.047vw solid rgb(192, 171, 143);
}

#Userdetailform div {
    width: 21.267vw;
    margin: 0 auto;
    
}

#Userintrestul {
    margin: 0.945vw auto;
    width: 33.081vw;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#Userintrestul li {
    margin: 0.378vw 4.017vw;
    width: 8.507vw;
    height: 1.89vw;
    /* border: 0.047vw solid rgb(209, 201, 198); */
    border-radius: 0.331vw;
    box-shadow: 0 0.189vw 0.473vw rgba(0, 0, 0, 0.1);;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.945vw;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.877);
    user-select: none;
    box-sizing: border-box;
}

#Userintrestul li:hover {
    background: linear-gradient(40deg, #ffe5b7, #ffcc6e);
    scale: 1.1;
}

#userintrestdiv h1 {
    width: 47.259vw;
    padding-bottom: 1.418vw;
    border-bottom: 0.047vw solid rgb(192, 171, 143);
}


#Userintrestul button {
    font-size: 0.756vw;
    margin: 2.363vw 2.363vw;
    width: 7.089vw;
    height: 1.89vw;
    border: none;
    box-shadow: 0 0.189vw 0.473vw rgba(0, 0, 0, 0.3);
    border-radius: 0.331vw;
    cursor: pointer;
}
#Userintrestul div {
    
    width: 33.081vw;
    display: flex;
    justify-content: center;
}

#Userintrestul button:hover {
    background-color: rgb(255, 181, 21);
}
/* #Userintrestul button:hover {
    background-color: #3eb32e;
    color: white;
}
#Userintrestul button:nth-child(2):hover {
    background-color: #3eb32e;
    color: white;
} */

.active {
    background: linear-gradient(40deg, #ffe5b7, #ffcc6e);
}

#Popupwrap, #Popupwrap1, #Popupwraperror1 {
    display: none;
}

.popup #Popupwrap{
    position: absolute;
    width: 100%;
    height: calc(100vh + 3.308vw);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popuperror #Popupwraperror1{
    position: absolute;
    width: 100%;
    height: calc(100vh + 3.308vw);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup #Popupwrap1{
    position: absolute;
    width: 100%;
    height: calc(100vh + 3.308vw);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}



.popup #Popup, .popup #Popup1, .popuperror #Popuperror1 {
    position: absolute;
    width: 18.904vw;
    height: 9.452vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 0.331vw;
    
}

#Popup button, #Popup1 button, #Popuperror1 button{
    width: 4.253vw;
    cursor: pointer;
    height: 1.418vw;
    border: none;
    box-shadow: 0 0.189vw 0.473vw rgba(0, 0, 0, 0.7);
    border-radius: 0.331vw;
    
}
#Popup button:hover,#Popup1 button, #Popuperror1 button:hover {
    background-color: rgb(255, 181, 21);
}

#contenttype {
    width: 51.985vw;
    margin: 1.418vw auto 0 auto;
    padding: 0.236vw;
}

#contenttype button {
    border: none;
    background-color: white;
    cursor: pointer;
    margin: 0 0.945vw;
    width: max-content;
    font-weight: 500;
    font-size: 0.851vw;
    color: #2e2e2e;
    padding-bottom: 0.473vw;
}

#contenttype button:hover {
    color: #e99700;
}

.Contentul, .Contentul1 {
    display: none;
}

#myclub.Active {
    border-bottom: 0.142vw solid #e99700;
}
.Contentul.Active , .Contentul1.Active{
    display: flex;
    /* border-bottom: 0.142vw solid #e99700; */
}
#calendardiv {
    visibility: hidden;
    width: 51.985vw;
    /* min-height: 23.629vw; */
    height: 0;
    padding: 0.473vw;
    margin: 0 auto;
}
#calendardiv.Active {
    visibility: visible;
    height: initial;
    display: flex;
    flex-direction: column;
    
}
#calendar{
    height: 33.081vw;
    width: 100%;
    /* box-sizing: border-box; */
    margin: 1.418vw auto;
}

#myactivities.Active {
    border-bottom: 0.142vw solid #e99700;
}
#mycalendar.Active {
    border-bottom: 0.142vw solid #e99700;
}

.fc-event-title-container {
    cursor: pointer;
}

#participantwrap {
    display: none;
}

#participantwrap.active1 {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}
#participantwrap .participantbody {
    width: 28.355vw;
    height: 28.355vw;
    padding: 2.363vw;
    background-color: white;
    box-shadow: 0 0.189vw 0.473vw rgba(0, 0, 0, 0.1);
    border-radius: 0.473vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-y: scroll; */
}

.participantdiv {
    width: 23.629vw;
    height: 19.849vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    /* padding: 0 2.363vw; */
    box-sizing: border-box;
    /* overflow: hidden; */
    border-bottom: 0.047vw solid #fff6e6;
}

#participantwrap ul {
    width: 17.958vw;
    /* height: 4.726vw; */
    padding: 0.945vw;
    border-bottom: 0.047vw solid #ffe5b7;
}
#participantwrap ul h3{
    color: #ffa600;
}


#participantwrap button {
    width: 4.726vw;
    height: 1.89vw;
    box-shadow: 0 0.189vw 0.473vw rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0.331vw;
    background-color: #ffbd42;
    margin-top: 0.473vw;
}

#participantwrap button:hover {
    background-color: #ffad14;
}

#heartIcon {
    display: inline-block;
    /* position: absolute; */
    margin-left: 7.089vw;
    /* transform: translate(150%, 500%); */
    /* animation: pop 0.4s ease; */
}
.fa-solid {

    animation: pop 0.4s ease;
}
@keyframes pop {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.4); }
    100% { transform: scale(1); }
  }

/* @keyframes beat {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
  }
  
  .beating-heart {
    animation: beat 0.6s infinite;
    color: red;
    font-size: 2rem;
  } */