

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 16px;

}

a {
    color: black;
}
input { 
    height: 35px;
    border-radius: 4px;
    outline: none;
    padding: 5px 10px ;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
}
#gender input {
    box-shadow: none;
}

#loginwrap {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginform {
    width: 700px;
    height: 250px;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

#loginform input {
    height: 25px;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
}

#loginform button {
    width: 120px;
    height: 30px;
}

#loginform img {
    width: 500px;
    height: 70px;
}
#line {
    display: block;
    height: 1px;
    width: 1100px;
    background-color: #e4ded4;
    margin: 0 auto;
}


#Bodywrap {
    /* background-color: rgb(221, 231, 231); */
    width: 100%;
    /* height: calc(100vh - 75px); */
    min-height: calc(100vh - 75px);
    margin-top: 75px;
    display: flex;
    justify-content: center;
}
#calendar {
    position: fixed;
    padding-left: 10px;
    height: 500px;
    width: 340px;
    box-sizing: border-box;
    right: 0px;
    margin: 0 10px;
}
#Bodycontent {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-height: calc(100vh - 75px);
    width: 1200px;
    /* background-color: rgb(247, 247, 247); */
}

#Userinfo {
    width: 1200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    height: 200px;
    /* background-color: #f1efe6; */
    padding: 10px 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    
}

#Introduction  {
    width: 1200px;
    min-height: 100px;
    /* background-color: #f1efe6; */
    padding: 15px 50px;
    
    box-sizing: border-box;
}

#Introduction p {
    width: 930px;
    margin: auto;
}
.Contentul  {
    width: 1200px;
    min-height: 200px;
    /* background-color: rgb(247, 247, 247); */
    padding: 10px 50px;
    box-sizing: border-box;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.Contentul img{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    border: none;
    margin-right: 30px;
    width: 300px;
    height: 150px;
}
#Contentul li {
    width: 400px;
    /* height: 200px; */
}
.imagetag{
    border: none;
}
.Contentli {
    
    display: flex;
}
.Contentli ul {
    width: 600px;
    padding: 10px 0 ;
}
.Contentli li {
    /* display: inline-block; */
    white-space: nowrap;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;
}

.clubinfo {
    width: 250px !important;
    display: flex;
    justify-content: space-between;
}

.clubinfo span {
    background-color: #ffd17a;
    width: max-content;
    height: max-content;
    padding: 0 10px;
    border-radius: 20px;
    box-sizing: border-box;

}

#Userinfo img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

#Userul {
    padding: 20px 20px;
    box-sizing: border-box;
}

#Userul li {
    width: 960px;
    padding: 3px 8px;
    box-sizing: border-box;
    /* font-size: 24px; */
}

#Userul li:nth-child(2) span:nth-child(1){
    display: inline-block;
    width: 350px;
    box-sizing: border-box;
}

#Userul li:nth-child(3) span:nth-child(1){
    display: inline-block;
    width: 350px;
    box-sizing: border-box;
}
#Userul a {
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(170, 149, 79);
    border-radius: 5px;
    background-color: rgb(223, 180, 89);
    align-items: center;
    box-sizing: border-box;
}



#Edit {
    float: right;
    display: flex;
}

#Edit a {
    margin-right: 10px;
}

#Userdetailwrap {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(236, 236, 236); */

}
#Userdetaildiv {
    
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

#Userdetailform {
    width: 500px;
    height: 700px;
    padding: 50px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#Userdetailform button {
    cursor: pointer;
    width: 150px;
    height: 40px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    
}


#locationbtn {
    width: 120px !important ;
    height: 35px;
    border-radius: 5px;
    border: 1px solid;
}
#Userdetailform button:hover {
    background-color: rgb(197, 197, 197);
}

#Userdetailform div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
}



textarea {
    padding: 10px;
    width: 500px;
    height: 120px;
    resize: none;
    box-sizing: border-box;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);;
}

#gender {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Userintrestwrap {
    width: 100%;
    height: calc(100vh - 70px);
    /* margin-top: 70px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}
#userintrestdiv {
    width: 700px;
    height: 700px;
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#Userintrestul {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#Userintrestul li {
    margin: 8px 35px;
    width: 180px;
    height: 40px;
    /* border: 1px solid rgb(209, 201, 198); */
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.877);
    user-select: none;
    box-sizing: border-box;
}

#Userintrestul li:hover {
    background: linear-gradient(40deg, #ffe5b7, #ffcc6e);
    scale: 1.1;
}

h1 {
    margin-top: 20px;
    font-size: 28px;
    box-sizing: border-box;
}

#Userintrestul button {
    margin-top: 30px;
    margin: 30px 50px;
    width: 150px;
    height: 40px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    cursor: pointer;
    
}

#Userintrestul button:hover {
    background-color: #dddddd;
}
/* #Userintrestul button:hover {
    background-color: #3eb32e;
    color: white;
}
#Userintrestul button:nth-child(2):hover {
    background-color: #3eb32e;
    color: white;
} */

.active {
    background: linear-gradient(40deg, #ffe5b7, #ffcc6e);
}

#Popupwrap, #Popupwrap1, #Popupwraperror1 {
    display: none;
}

.popup #Popupwrap{
    position: absolute;
    width: 100%;
    height: calc(100vh + 70px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popuperror #Popupwraperror1{
    position: absolute;
    width: 100%;
    height: calc(100vh + 70px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup #Popupwrap1{
    position: absolute;
    width: 100%;
    height: calc(100vh + 70px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}



.popup #Popup, .popup #Popup1, .popuperror #Popuperror1 {
    position: absolute;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    
}

#Popup button, #Popup1 button, #Popuperror1 button{
    width: 90px;
    cursor: pointer;
    height: 30px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    
}
#Popup button:hover {
    background-color: #dddddd;
}
