<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>λ™νΈν μμ •νμ΄μ§€</title>
    <link rel="stylesheet" href="/public/css/club/manage_club.css">
</head>
<body>
    <%- include("../common/header") %> 
    <div class = "main-content"> 
        <div class = "header">
            <div class = "page-title">
                <h1> λ™νΈν μμ • </h1>
            </div>
        </div>
        <div id = "club-form">
            <div class = "form-header">
                <h2 class = "form-title">μƒ λ™νΈν μ •λ³΄ μ…λ ¥</h2>
                <p class = "form-information"> μƒλ΅μ΄ λ™νΈνλ¥Ό μƒμ„±ν•μ—¬ κ°™μ€ κ΄€μ‹¬μ‚¬λ¥Ό κ°€μ§„ μ‚¬λλ“¤κ³Ό ν•¨κ»ν•μ„Έμ”! </p>
            </div>
            
            <form>
                <div class = "addFrom-group">
                    <label class = "label required">λ™νΈν μ΄λ¦„</label>
                    <input type="text" class = "form-input" id = "club_name" placeholder="λ™νΈν μ΄λ¦„μ„ μ•λ ¤μ£Όμ„Έμ”." required>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">λ™νΈν μ„¤λ…</label>
                    <textarea class = "form-input-txtarea" id="club_information" placeholder="λ™νΈνμ— λ€ν• μ„¤λ…μ„ ν•΄μ£Όμ„Έμ”."></textarea>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">λ™νΈν λ€ν‘ μ΄λ―Έμ§€ (4:3 λΉ„μ¨)</label>
                    <div class = "form-container">
                        <div class = "image-upload">
                            <div class = "upload-icon">π“·</div>
                            <p class = "upload-info">μ΄λ―Έμ§€λ¥Ό ν΄λ¦­ν•μ—¬ μ—…λ΅λ“ν•μ„Έμ”.(λ―Έμ„ νƒμ‹ κΈ°λ³Έ μ΄λ―Έμ§€κ°€ μ κ³µλ©λ‹λ‹¤.)</p>
                            <input type="file" id = "club-image">
                        </div>
                    </div>
                </div>
                <div class = "addFrom-group">
                    <label class="label">νƒκ·Έ</label>
                    <div class = "add-tag">
                        <span class="tag">
                            μ¶•κµ¬ <span class="tag-remove">Γ—</span>
                        </span>
                        <span class="tag">
                            μ¶•κµ¬λ¨μ„ <span class="tag-remove">Γ—</span>
                        </span>
                        
                        <input type="text" class = "tag-input" placeholder="νƒκ·Έλ¥Ό μ…λ ¥ν•κ³  Enterλ¥Ό λ„λ¥΄μ„Έμ”">
                    </div>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">μΉ΄ν…κ³ λ¦¬ μ„ νƒ</label>
                    <div class ="category-container">
                        <div class = "main-category">
                            <label class = "main-category-text">λ€ν‘ μΉ΄ν…κ³ λ¦¬</label>
                        </div>
                        <select class = "category-select" id="" required>
                            <option value="" >λ€ν‘ μΉ΄ν…κ³ λ¦¬λ¥Ό μ„ νƒν•μ„Έμ”</option>
                            <!-- μ¤ν¬λ¦½νΈμ—μ„ μ²λ¦¬ -->
                            <option value="sports">μ¤ν¬μΈ </option>
                        </select>
                        <div class = "sub-category">
                            <label class = "sub-category-text">μ„Έλ¶€μΉ΄ν…κ³ λ¦¬</label>
                            <div class = "sub-category-box">
                                <div class = "sub-category-cardBox">
                                <!-- μ¤ν¬λ¦½νΈμ—μ„ μ²λ¦¬ -->
                                    <span class="sub-category-card">μ¶•κµ¬</span>
                                </div>
                            </div>
                        </div>
                        <div class = "selected-categories">
                            <label class = "selected-categories-text">μ„ νƒλ μΉ΄ν…κ³ λ¦¬</label>
                        </div>
                        <div class = "selected-categories-container">
                            <!-- μ¤ν¬λ¦½νΈμ—μ„ μ²λ¦¬ -->
                            <span class = "selected-main-category">μ¤ν¬μΈ </span>
                            <span style="font-size: 1.2em;">β€Ί</span>
                            <span class = "selected-sub-category">μ¶•κµ¬</span>
                        </div>
                    </div>
                </div>
                <div class = "addFrom-group">
                    <label class = "label required">λ©¤λ²„ μ •μ›</label>
                    <div class = "member-container">
                        <input type="number" class="memeber-input" min="2" placeholder="μµλ€ μΈμ›μλ¥Ό μ…λ ¥ν•μ„Έμ”." required >
                        <span style="color:#666">λ…</span>
                    </div>
                    <p class = "member-noti">μµμ† 2λ… μ΄μƒ μ…λ ¥ν•΄μ£Όμ„Έμ”.</p>
                </div>
                <!-- κ°€μ…μ΅°κ±΄ λ‚΄μ©μ€ μ—†μ–΄λ„λ¨ -->
                <div class = "addFrom-group">
                    <label class = "label">κ°€μ…μ΅°κ±΄</label>
                    <textarea class = "form-input-txtarea2" id="" placeholder="κ°€μ… μ΅°κ±΄μ΄ μλ‹¤λ©΄ κ°„λ‹¨ν μ‘μ„±ν•΄μ£Όμ„Έμ”."></textarea>
                </div>
                <div class="addForm-btn-container">
                    <button type="button" class="btn btn-cancel">μ·¨μ†</button>
                    <button type="button" class="btn btn-ok">λ™νΈν μƒμ„±ν•κΈ°</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>