
* {
    padding: 0%;
    margin: 0;
    list-style: none;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    z-index: 1000;
}


header div {
    display: flex;
    align-items: center;
}



#logo {
    width: 90px;
    height: 90px;
}

header img {
    height: 50px;
    width: 150px;
}


