<link rel="stylesheet" href="/public/css/common/header.css">
<link rel="stylesheet" href="/public/css/common/main.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<header>
    <div class="logo">
        <img id="logo" src="/public/images/logo.png" alt="로고">
        <h1>스쿱</h1>
    </div>
    
    <div>
      <% if(data) { %>
        <div>
          <img width="30" height="30" style="border-radius: 50%;" src="<%= data.profile_image %>" alt="카카오 프로필">
          <span><%= data.nickname %></span>님 안녕하세요~
        </div>
      <% } else { %>
        <a href="/mypage" onclick="alert('로그인 해주세요');">
          <img src="/public/images/kakao_login_medium_wide.png" alt="카카오 로그인">
        </a>
      <% } %>
    </div>
    
      
</header>