





<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="/public/css/common/header.css">
<header>
    <div>
        <img src="/public/images/logo.png" alt="로고">
        <a href="/">동호회</a>
    </div>
    <ul>
        <div>
            <a href="/login" id="alogin">로그인</a>
            <a href="/logout" id="alogout">로그아웃</a>

        </div>
    </ul>
</header>