<link rel="stylesheet" href="/public/css/common/header.css">
<link rel="stylesheet" href="/public/css/common/main.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<header>
    <div class="logo">
        <img id="logo" src="/public/images/logo.png" alt="로고">
        <h1>스쿱</h1>
    </div>

    <ul>
        <div>
            <a href="/login" id="alogin">로그인</a>
            <a href="/logout" id="alogout">로그아웃</a>
        </div>
    </ul>
</header>