<link rel="stylesheet" href="/public/css/common/side_bar.css">
<div class="sidebar">
    <ul>
      <li><a href="/categories">전체</a></li>
      <% for (let i = 0; i < category.length; i++) { %>
        <li><a href="/categories/<%= category[i].name %>"><%= category[i].name %></a></li>
      <% } %>
    </ul>
  </div>
</div>