<link rel="stylesheet" href="/public/css/common/side_bar.css">
<div class="sidebar">
    <ul>
        <li><a href="/categories">전체</a></li>
      <li><a href="/categories/스포츠">스포츠</a></li>
      <li><a href="/categories/독서">독서</a></li>
      <li><a href="/categories/사교">사교/인맥</a></li>
      <li><a href="/categories/여행">여행</a></li>
      <li><a href="/categories/등산">등산</a></li>
      <li><a href="/categories/음악">음악</a></li>
      <li><a href="/categories/자기계발">자기계발</a></li>
      <li><a href="/categories/공연">공연/축제</a></li>
      <li><a href="/categories/공예">공예</a></li>
      <li><a href="/categories/언어">언어</a></li>
      <li><a href="/categories/댄스">댄스</a></li>
      <li><a href="/categories/봉사">봉사</a></li>
      <li><a href="/categories/사진">사진/영상</a></li>
      <li><a href="/categories/요리">요리</a></li>
      <li><a href="/categories/자동차">자동차/바이크</a></li>
      <li><a href="/categories/반려동물">반려동물</a></li>
      <li><a href="/categories/금융">투자/금융</a></li>
      <li><a href="/categories/창업">창업/사업</a></li>
    </ul>
  </div>
  