

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/public/css/common/header.css">
    <link rel="stylesheet" href="/public/css/mypage/mypage.css">
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    
</head>
<body>
    <%- include("../common/header", {data}) %>
   
    <div id="Userdetailwrap">
        <div id="Popupwrap">
            <div id="Popup">           
                <span>입력 정보를 확인해주세요</span>
                <a href="/Edituser"><button>확인</button> </a>
            </div>
        </div>
        <div id="Userdetaildiv">
            <form action="" id="Userdetailform">
                <label for="">나이 : </label>
                <input type="text" name="age" placeholder="나이">
                <label for="" id="gender">성별 : 
                    <label for="male">남성 : </label>
                    <input type="radio" name="gender" value="male"> 
                    <label for="female" >여성 : </label>
                    <input type="radio" name="gender" value="female" >
                </label>
                <!-- <label for="">활동 위치 : <button id="locationbtn" type="button" onclick="getLocation()">현재 위치 검색</button></label> -->
                <label for="">활동 위치 : </label>
                <!-- <input type="text" name="longitude" placeholder="longitude" id="Longitude">
                <input type="text" name="latitude" placeholder="latitude" id="Latitude"> -->
                <!-- <input type="text" name="location" placeholder="location" id="Location"> -->
                <input type="text" name="location" id="addr" onclick="openPostcode()" placeholder="주소를 입력하세요" />
                <label for="">자기소개 : </label>
                <textarea name="content" ></textarea>
                <div>
                    <button>환료</button>
                    <a href="/mypage"><button type="button">취소</button></a>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    Userdetailform.onsubmit = async (e) => {
        e.preventDefault();
        const {age : {value : agevalue}, 
        gender : {value : gendervalue},
        location : {value :locationvalue},
        // longitude : {value :longitudevalue},
        // latitude : {value : latitudevalue},
        content : {value : contentvalue}} = e.target;
        console.log({agevalue, gendervalue, locationvalue, contentvalue}, 'asdfffffffffffff')
        
        if(agevalue.trim() === '' || gendervalue.trim() === '' || locationvalue === '' || contentvalue === '') {
            Userdetailwrap.classList.add('popup');
            return
        }
        const {data} = await axios.post('/Edituser', {agevalue, gendervalue, locationvalue, contentvalue})
        console.log(data,'mypage')
        if(data.state === 200) {
            console.log(data.state)
            location.href = '/mypage'
        }
        else {
            location.href = '/error'
        }

        

    }
    function openPostcode() {
        new daum.Postcode({
        oncomplete: function(data) {
            document.getElementById('addr').value = data.address;
        }
        }).open();
    }
    // function getLocation() {
    //     if (navigator.geolocation) {
    //         navigator.geolocation.getCurrentPosition(function(position) {
    //         Latitude.value = position.coords.latitude;
    //         Longitude.value = position.coords.longitude;
    //     }, function(error) {
    //         alert('Error getting location: ' + error.message);
    //     });
    //     } else {
    //     alert("Geolocation is not supported by this browser.");
    //     }
    // }
</script>

</html>