

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/public/css/common/header.css">
    <link rel="stylesheet" href="/public/css/mypage/mypage.css">
</head>
<body>
    <%- include('../common/header') %>
    <div id="Userintrestwrap">
        <div id="userintrestdiv">
            <h1>좋아하는 카테고리 선택해주세요</h1> <br>
            <ul id="Userintrestul">
                <li class="Userintrestli">독서</li>
                <li class="Userintrestli">사교/인맥</li>
                <li class="Userintrestli">스포츠</li>
                <li class="Userintrestli">여행</li>
                <li class="Userintrestli">등산</li>
                <li class="Userintrestli">음악</li>
                <li class="Userintrestli">자기계발</li>
                <li class="Userintrestli">공연/축제</li>
                <li class="Userintrestli">공예</li>
                <li class="Userintrestli">언어</li>
                <li class="Userintrestli">댄스</li>
                <li class="Userintrestli">봉사</li>
                <li class="Userintrestli">사진/영상</li>
                <li class="Userintrestli">요리</li>
                <li class="Userintrestli">자동차/바이크</li>
                <li class="Userintrestli">반려동물</li>
                <li class="Userintrestli">투자/금융</li>
                <li class="Userintrestli">창업/사업</li>
                

                <button onclick="Updatecategory()">저장</button>
                <button><a href="/mypage">취소</a></button>
            </div>
        </ul>
    </div>  
</body>
<script>
    const Userintrestbtn = document.querySelectorAll('.Userintrestli')
    const userdata = []
    for (let i = 0; i < Userintrestbtn.length; i++) {
        Userintrestbtn[i].onclick = (e) => {
            if((userdata.length < 10) && (userdata.indexOf(Userintrestbtn[i].innerText) === -1)) {
                Userintrestbtn[i].classList.add('active')
                userdata.push(Userintrestbtn[i].innerText)
                console.log(userdata)
            }else{
               const index = userdata.indexOf(Userintrestbtn[i].innerText)
               if(index !== -1)
               userdata.splice(index, 1)
               Userintrestbtn[i].classList.remove('active')
               console.log(userdata)
            }
        }
        
    }

    const Updatecategory = async (e) => {
        const {data} =  await axios.post('/Userintrest', {userdata})
        console.log(data)
        if(data) {
            location.href = '/mypage'
        }
        else {
            alert('error')
        }
    }
</script>
</html> 