body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
  }
  
  main {
    margin-top: 100px; 
    margin-left: 300px; 
    padding: 20px;
  }

  .club-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .club-container {
    display: flex;
    justify-content: space-between;
  }
  
  .club-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 80%; 
  }
  
  .club-card {
    background-color: white;
    width: 370px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .club-card:hover {
    transform: translateY(-5px);
  }
  
  .club-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .club-info h3 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .club-info p {
    margin: 4px 0;
    font-size: 14px;
  }

  .title {
    margin-left: 20px;
  }

  .main-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 0 32px;
  }

  .recommend-section {
    width: 20%;
    background-color: #fff6e5; /* 밝은 노란 배경 */
    padding: 16px;
    margin-top: 40px;
    border-radius: 8px;
  }
  
  .recommend-card {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 12px;
  }
  
  .recommend-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
  }


  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 30px 20px;
  }
  
  .recommend-search-bar {
    display: flex;

    
  }
  
  .recommend-search-bar input {
    padding: 16px 20px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 14px;
  }
  
  .recommend-search-bar button {
    padding: 16px 20px;
    border: none;
    background-color: #ffb402;
    color: white;
    font-weight: bold;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
  }
  
  .recommend-search-bar button:hover {
    background-color: #e6a200;
  }